.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.buildpath
.recommenders/
.project
.classpath
.springBeans
Servers/
target/
m2e-wtp/
META-INF/

pom.properties
MANIFEST.MF

*.class
*.log
*.dll
*.exe