<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods">
  <select id="selectAll" resultType="goodsVo">
    SELECT * FROM goods
  <if test="keyword != null">
    <choose>
			  <when test="keyField == 'item'">
			    WHERE item LIKE '%'||#{keyword}||'%'
			  </when>
			  <otherwise>
			    WHERE ${keyField} <![CDATA[ <= ]]> #{keyword}
			  </otherwise>
	</choose>
  </if>
  <if test="sort != null">
  ORDER BY ${sort}
  </if>
  </select>
  
  
</mapper>